# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Cache
.pytest_cache/
.ipynb_checkpoints/
artifacts/cache/

# Large Datasets & Outputs (optional / dataset raw files)
*.tsv
dataset/
*.zip
*.log

# Environments
.env
.venv
env/
venv/
ENV/

# OS metadata
.DS_Store
.DS_Store?
._*
Thumbs.db
